{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %} - {% endblock %}

{% block hero %}
  <header>
    <div class="inner text-center">
      <h2>{% trans "Sign In" %}</h2>
      <p>Sign in using Facebook</p>
    </div>
  </header>
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="omb_login">
  <h1 class="omb_authTitle">Login</h1>
	<div class="row omb_row-sm-offset-3 omb_socialButtons">
  	    <div class="col-xs-12 col-sm-6">
	        <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-lg btn-block omb_btn-facebook">
		        <i class="fa fa-facebook"></i>
	        </a>
        </div>
	</div>
</div>

{% endblock %}
