{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %} - {% endblock %}

{% block hero %}
  <header>
    <div class="inner text-center">
      <h2>{% trans "Signup" %}</h2>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </div>
  </header>
{% endblock %}

{% block content %}



<div class="omb_login">
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-12 col-sm-6">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                {% include "socialaccount/snippets/login_extra.html" %}
                <h2 class="text-center">Sign in using facebook:</h2>
                <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-lg btn-block omb_btn-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <br/><br/>
            {% endif %}
            <h2 class="text-center">or use your email address:</h2>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit">{% trans "Sign Up" %}
                    &raquo;</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}
