{% load staticfiles %}
{% load humanize %}
<div class="post-preview">
    <p>
        <strong>
            {{ building_fund_received.date|date:"o" }}
            Building Fund Progress:
        </strong>
    </p>
    <p class="small">Giving through
        {{ building_fund_received.date|date:"j M, o" }}
        was
        <strong>${{building_fund_received_ytd|floatformat:"0"|intcomma}}</strong>
        out of
        <strong>${{building_fund_pledged_ytd|floatformat:"0"|intcomma }}</strong>
        pledged year to date which puts us
        {{ahead_or_behind}}
        by about
        <strong>${{building_pledge_received_difference|floatformat:"0"|intcomma}}</strong>. We'll need to receive
        <strong>${{building_goal_received_difference|floatformat:"0"|intcomma}}</strong>
        by the end of the year to meet our building fund goal of
        <strong>${{building_goal|floatformat:"0"|intcomma}}</strong>
        this year.
    </p>
</div>
