{% load staticfiles %}
{% load humanize %}
<h2 class="text-center">Weekly Summary</h2>
<div class="post-preview">
    <p>Building Fund: Giving through
        {{ building_fund_received.date|date:"j M, o" }}
        was
        <strong>${{building_fund_received_ytd|floatformat:"0"|intcomma}}</strong>
        out of
        <strong>${{building_fund_pledged_ytd|floatformat:"0"|intcomma }}</strong>
        pledged year to date which puts us
        {{ahead_or_behind}}
        by about
        <strong>${{building_pledge_received_difference|floatformat:"0"|intcomma}}</strong>. We'll need to receive
        <strong>${{building_goal_received_difference|floatformat:"0"|intcomma}}</strong>
        by the end of the year to meet our building fund goal of
        <strong>${{building_goal|floatformat:"0"|intcomma}}</strong>
        this year.
    </p>
    <p>{{ building_fund_received.date|date:"o" }}
        building fund progress:</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{building_goal_received_percent}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
            {{building_goal_received_percent|floatformat:"0"}}%
        </div>
    </div>
    <br/>

    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip({trigger: 'manual'}).tooltip('show');
        });

        // $( window ).scroll(function() { if($( window ).scrollTop() > 10){  // scroll down abit and get the action
        $(".progress-bar").each(function() {
            each_bar_width = $(this).attr('aria-valuenow');
            $(this).width(each_bar_width + '%');
        });
        //  } });
    </script>
    <script src="{% static 'newswire/js/jquery.sparkline.min.js' %}"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        $(function() {
            /** This code runs when everything has been loaded on the page */
            /* Inline sparklines take their values from the contents of the tag */
            $('.inlinesparkline').sparkline();

            /* Sparklines can also take their values from the first argument passed to the sparkline() function */
            var myvalues = [
                245,
                235,
                233,
                240,
                248,
                242,
                245
            ];
            /* The second argument gives options such as specifying you want a bar chart */
            $('.dynamicbar').sparkline(myvalues, {
                type: 'line',
                barColor: 'green'
            });

        });
        /* ]]> */
    </script>
    <h3>Past Year's Attendance:</h3>
    <p>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
        <div id="attendance-chart"></div>
        <script>
            Morris.Area({
                element: 'attendance-chart',
                data: [
                    {
                        y: '2016-08-21',
                        a: 24,
                        b: 31,
                        c: 162,
                        d: 14,
                        e: 15
                    }, {
                        y: '2016-08-14',
                        a: 14,
                        b: 27,
                        c: 121,
                        d: 14,
                        e: 10
                    }, {
                        y: '2016-08-07',
                        a: 25,
                        b: 26,
                        c: 148,
                        d: 12,
                        e: 15
                    }, {
                        y: '2016-07-31',
                        a: 21,
                        b: 30,
                        c: 153,
                        d: 11,
                        e: 13
                    }, {
                        y: '2016-07-24',
                        a: 19,
                        b: 27,
                        c: 118,
                        d: 14,
                        e: 14
                    }, {
                        y: '2016-07-17',
                        a: 17,
                        b: 30,
                        c: 126,
                        d: 10,
                        e: 14
                    }
                ],
                xkey: 'y',
                ykeys: [
                    'a', 'b', 'c', 'd', 'e'
                ],
                xLabels: ["date"],
                labels: [
                    'Sunday Morning Service (Children\'s Church)', 'Sunday Morning Service (Chinese)', 'Sunday Morning Service (English)', 'Sunday Morning Service (Nursery)', 'Sunday Morning Service (Preschoolers)'
                ],
                ymin: 'auto 200'
            });
        </script>
    </p>
</div>
