<h2 class="text-center">Upcoming Events</h2>
<table class="table">
    <tbody>
        {% for event in events %}
            <tr>
                <td class="text-right col-xs-6">
                    <strong>{{ event.title }}</strong>
                </td>
                <td class="text-left col-xs-6">
                    <i>{{ event.date_display }}</i>
                    {% if request.user.is_authenticated %}
                        {% if event.track_rsvp %}
                            {% for signup in signups %}
                                {% if signup.user.pk == request.user.pk and signup.event.pk == event.pk %}
                                    <button type="button" id="rsvpbtn-{{event.pk}}" class="no-print btn btn-xs btn-light rsvp-{{ signup.rsvp|lower }}" data-toggle="modal" data-target="#rsvpModal-{{event.pk}}">
                                        {{ signup.rsvp }}
                                    </button>
                                {% endif %}
                            {% endfor %}
                            {% if event.id not in signup_id_list %}
                                <button type="button" id="rsvpbtn-{{event.pk}}" class="no-print btn btn-xs btn-light rsvp" data-toggle="modal" data-target="#rsvpModal-{{event.pk}}">
                                    <i class="fa fa-plus"></i>
                                    RSVP
                                </button>
                            {% endif %}
                            <div class="modal fade" id="rsvpModal-{{event.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h2 class="modal-title" id="event-title-{{event.pk}}">{{ event.title }}</h2>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <strong>Date:</strong>
                                                {{ event.date_display }}
                                            </p>
                                            <p>
                                                {{ event.description }}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{% url 'home' %}" method="POST" id="rsvp-form">
                                                {% csrf_token %}
                                                <div class="fieldWrapper"></div>
                                                <button id="btn-notgoing-{{event.pk}}" type="submit" value="notgoing-{{event.pk}}" form="rsvp-form" class="rsvp-response btn btn-xs rsvp rsvp-notgoing pull-left">Not Going</button>
                                                <button id="btn-interested-{{event.pk}}" type="submit" value="interested-{{event.pk}}" form="rsvp-form" class="rsvp-response btn btn-xs rsvp rsvp-interested pull-left">Interested</button>
                                                <button id="btn-going-{{event.pk}}" type="submit" value="going-{{event.pk}}" form="rsvp-form" class="rsvp-response btn btn-xs rsvp rsvp-going pull-left">Going</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
