{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="omb_login">
  <h1 class="omb_authTitle">Login or <a href="{{ signup_url }}">Sign up</a></h1>
	<div class="row omb_row-sm-offset-3 omb_socialButtons">
  	    <div class="col-xs-12 col-sm-6">
	        <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-lg btn-block omb_btn-facebook">
		        <i class="fa fa-facebook"></i>
	        </a>
        </div>
	</div>

	<div class="row omb_row-sm-offset-3 omb_loginOr">
		<div class="col-xs-12 col-sm-6">
			<hr class="omb_hrOr">
			<span class="omb_spanOr">or</span>
		</div>
	</div>

  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">
      <form class="omb_loginForm login" action="{% url 'account_login' %}" autocomplete="off" method="POST">
        {% csrf_token %}
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input id="id_login" type="email" class="form-control" name="login" placeholder="email">
        </div>
        <span class="help-block"></span>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-lock"></i>
          </span>
          <input id="id_password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
    </div>
  </div>
  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-3">
      <label class="checkbox"></label>
      <input id="id_remember" name="remember" type="checkbox">
        Remember Me</input>
    </div>
    <div class="col-xs-12 col-sm-3">
      <p class="omb_forgotPwd">
        <a href="/accounts/password/reset/">Forgot password?</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
