{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %} - {% endblock %}

{% block hero %}
  <header>
    <div class="inner text-center">
      <h2>{% trans "Sign In" %}</h2>
      <p>Sign in using Facebook or Email</p>
    </div>
  </header>
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="omb_login">
  <h1 class="omb_authTitle">Login</h1>
	<div class="row omb_row-sm-offset-3 omb_socialButtons">
  	    <div class="col-xs-12 col-sm-6">
	        <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-lg btn-block omb_btn-facebook">
		        <i class="fa fa-facebook"></i>
	        </a>
        </div>
	</div>

	<div class="row omb_row-sm-offset-3 omb_loginOr">
		<div class="col-xs-12 col-sm-6">
			<hr class="omb_hrOr">
			<span class="omb_spanOr">or</span>
		</div>
	</div>

  <div class="row omb_row-sm-offset-3">
  <div class="col-xs-12 col-sm-6">

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <p>
        <label for="id_login">E-mail:</label>
        <input autofocus="autofocus" id="id_login" name="login" placeholder="E-mail address" type="email"></p>
      <p>
        <label for="id_password">Password:</label>
        <input id="id_password" name="password" placeholder="Password" type="password"></p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>
  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-3">
      <label class="checkbox"></label>
      <input id="id_remember" name="remember" type="checkbox">
        Remember Me</input>
    </div>
    <div class="col-xs-12 col-sm-3">
      <p class="omb_forgotPwd">
        <a href="/accounts/password/reset/">Forgot password?</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <p>
        <small>No account? <a href="{{ signup_url }}">Sign up</a> for one</small>
      </p>
    </div>
  </div>
</div>

{% endblock %}
