{% load newswire_extras %}
<table class="table table-condensed borderless">
    <tbody>
        {% for event in events %}
            <tr style="padding: 0;">
                <td class="text-right col-xs-6">
                    <strong>{{ event.title }}</strong>
                </td>
                <td class="text-left col-xs-6">
                    <i>{% format_date_range event.date_start event.date_end %}</i>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p class="text-center">See more details at
    <strong>http://gbm.sg/bulletin/</strong>
</p>
