{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block header_title %}GBM Bulletin -
                {{ orderofservice.date }}{% endblock %}
        </title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'newswire/cp/css/bootstrap.min.css' %}">
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="{% static 'newswire/cp/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'newswire/cp/css/gbm_bulletin_print.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
        {% block header_includes %}{% endblock %}
    </head>
    <body>
        {% include "newswire/cp/includes/bulletin_cover.html" %}
        <div class="row">
            <div class="col-xs-6">
                {% if orderofservice %}
                    <div class="text-center">
                        <h2>Order of Service</h2>
                        <h3 class="post-subtitle">
                            <strong>{{ orderofservice_print.date }}</strong>
                        </h3>
                        <p>
                            {{ orderofservice_print.text|linebreaks }}
                        </p>
                    </div>
                {% endif %}
                <h2 class="text-center">2016 Theme: Loving Across Our Differences</h2>
                <p class="text-justified">
                    <sup>34</sup>A new commandment I give to you, that you love one another; as I have loved you, that you also love one another.
                    <sup>35</sup>By this all will know that you are My disciples, if you have love for one another.” - John 13:34-35
                </p>
            </div>
            <div class="col-xs-6">
                <h2 class="text-center">Our Vision</h2>
                <p class="text-justified">
                    Glorifying God by building and developing a church of genuine Christians to fulfill the Great Commission.
                </p>
                <h2 class="text-center">
                    Our Mission</h2>
                <p >
                    <ul class="list-unstyled text-center">
                        <li>
                            <strong>G</strong>lorify God in Worship</li>
                        <li>
                            <strong>R</strong>ely on the Holy Spirit</li>
                        <li>
                            <strong>A</strong>dvance the Gospel</li>
                        <li>
                            <strong>C</strong>are for the Body</li>
                        <li>
                            <strong>E</strong>quip God’s disciples</li>
                    </ul>
                </p>
                {% if events %}
                    {% include "newswire/cp/includes/bulletin_events_print.html" %}
                {% endif %}
                {% if birthdays %}
                    {% include "newswire/cp/includes/bulletin_birthdays_print.html" %}
                {% endif %}
                {% if weeklysummary %}
                    {% include "newswire/cp/includes/bulletin_weeklysummary.html" %}
                {% endif %}
            </div>
        </div>
        <div class="pagebreak"></div>
        {% if announcements %}
            <h2 class="text-center">Announcements</h2>
            {% for announcement in announcements %}
                {% if announcement.is_published and not announcement.hidden %}
                    <div class="post-preview {{ announcement.category.name }}-hide">
                        <p class="post-meta pull-right">
                            <button type="button" class="btn btn-default btn-xs btn-light" style="background-color: {{ announcement.category.color }}; border: 1px solid  {{ announcement.category.color }};">{{ announcement.category }}</small>
                        </button>
                    </p>
                    <h3 class="post-title">
                        <strong>{{ announcement.title }}</strong>
                    </h3>
                    <p class="post-subtitle">
                        {{ announcement.body }}
                        {% if announcement.link %}
                            <a href="{{ announcement.link }}">
                                <i class="no-print fa fa-link"></i>
                            </a>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        {% endfor %}
        <hr>
        <p class="text-center">See
            <strong>3</strong>
            more announcements at
            <strong>http://gbm.sg/bulletin/</strong>
        </p>

    {% endif %}
    <div class="pagebreak"></div>
    {% include "newswire/cp/includes/bulletin_back_cover.html" %}

    <!-- /.row -->
    <!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'newswire/cp/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{% static 'newswire/cp/plugins/jQueryUI/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    {% block footer_includes %}{% endblock %}

    <script src="{% static 'newswire/cp/js/bootstrap.min.js' %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- daterangepicker -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>-->
    <!-- datepicker -->
    <script src="{% static 'newswire/cp/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'newswire/cp/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'newswire/cp/plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'newswire/cp/js/app.min.js' %}"></script>
</div>
</body>
</html>
