{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block header_title %}GBM Bulletin -
                {{ orderofservice.date }}{% endblock %}
        </title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'newswire/cp/css/gbm_bulletin_print.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,400italic' rel='stylesheet' type='text/css'>

        {% block header_includes %}{% endblock %}
    </head>
    <body>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        {% include "newswire/cp/includes/bulletin_cover.html" %}
        <div class="pagebreak"></div>
        <div class="row">
            <div class="col-xs-6">
                {% if orderofservice %}
                    {% include "newswire/cp/includes/bulletin_oos.html" %}
                {% endif %}
            </div>
            <div class="col-xs-6">
                <h2 class="text-center">Our Theme</h2>
                <h3 class="text-center post-subtitle">
                    <strong>2016: Loving Across Our Differences</strong>
                </h3>
                <p class="text-justified">
                    <sup>34</sup>A new commandment I give to you, that you love one another; as I have loved you, that you also love one another.
                    <sup>35</sup>By this all will know that you are My disciples, if you have love for one another.”<br/>
                </p>
                <p class="text-right">
                    John 13:34-35
                </p>
                <h2 class="text-center">Our Vision</h2>
                <p class="text-justified">
                    Glorifying God by building and developing a church of genuine Christians to fulfill the Great Commission.
                </p>
                <h2 class="text-center">
                    Our Mission</h2>
                <p >
                    <ul class="list-unstyled text-center">
                        <li>
                            <strong>G</strong>lorify God in Worship</li>
                        <li>
                            <strong>R</strong>ely on the Holy Spirit</li>
                        <li>
                            <strong>A</strong>dvance the Gospel</li>
                        <li>
                            <strong>C</strong>are for the Body</li>
                        <li>
                            <strong>E</strong>quip God’s disciples</li>
                    </ul>
                </p>
                {% if events %}
                    {% include "newswire/cp/includes/bulletin_events.html" %}
                {% endif %}
                {% if birthdays %}
                    {% include "newswire/cp/includes/bulletin_birthdays.html" %}
                {% endif %}
                {% if weeklysummary %}
                    {% include "newswire/cp/includes/bulletin_weeklysummary.html" %}
                {% endif %}
            </div>
        </div>
        <div class="pagebreak"></div>
        {% if announcements %}
            {% include "newswire/cp/includes/bulletin_announcements.html" %}
        {% endif %}
        <div class="pagebreak"></div>
        {% include "newswire/cp/includes/bulletin_back_cover.html" %}

        <!-- /.row -->
        <!-- ./wrapper -->

        <!-- jQuery 2.1.4 -->
        <script src="{% static 'newswire/cp/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{% static 'newswire/cp/plugins/jQueryUI/jquery-ui.min.js' %}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>

        {% block footer_includes %}{% endblock %}

        <script src="{% static 'newswire/cp/js/bootstrap.min.js' %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- daterangepicker -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>-->
        <!-- datepicker -->
        <script src="{% static 'newswire/cp/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'newswire/cp/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'newswire/cp/plugins/fastclick/fastclick.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'newswire/cp/js/app.min.js' %}"></script>
    </div>
</body>
</html>
