{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block header_title %}GBM Bulletin -
                {{ orderofservice.date }}{% endblock %}
        </title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'newswire/cp/css/bootstrap.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="{% static 'newswire/cp/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'newswire/cp/css/gbm_bulletin_print.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
        {% block header_includes %}{% endblock %}
    </head>
    <body>
        <br/><br/><br/><br/>
        {% include "newswire/cp/includes/bulletin_cover.html" %}
        <div class="pagebreak"></div>
        <div class="row">
            <div class="col-xs-6">
                {% if orderofservice %}
                    {% include "newswire/cp/includes/bulletin_oos.html" %}
                {% endif %}
                {% include "newswire/cp/includes/bulletin_theme.html" %}
            </div>
            <div class="col-xs-6">
                {% if events %}
                    {% include "newswire/cp/includes/bulletin_events_print.html" %}
                {% endif %}
                {% if birthdays %}
                    {% include "newswire/cp/includes/bulletin_birthdays_print.html" %}
                {% endif %}
                {% if weeklysummary %}
                    {% include "newswire/cp/includes/bulletin_weeklysummary_print.html" %}
                {% endif %}
            </div>
        </div>
        <div class="pagebreak"></div>
        {% if announcements_print %}
            {% include "newswire/cp/includes/bulletin_announcements_print.html" %}
        {% endif %}
        <div class="pagebreak"></div>
        {% include "newswire/cp/includes/bulletin_back_cover.html" %}

        <!-- /.row -->
        <!-- ./wrapper -->

        <!-- jQuery 2.1.4 -->
        <script src="{% static 'newswire/cp/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{% static 'newswire/cp/plugins/jQueryUI/jquery-ui.min.js' %}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>

        {% block footer_includes %}{% endblock %}

        <script src="{% static 'newswire/cp/js/bootstrap.min.js' %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- daterangepicker -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>-->
        <!-- datepicker -->
        <script src="{% static 'newswire/cp/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'newswire/cp/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'newswire/cp/plugins/fastclick/fastclick.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'newswire/cp/js/app.min.js' %}"></script>
    </div>
</body>
</html>
