{% extends "newswire/cp/__base.html" %}
{% load staticfiles %}
{% block header_title %}DataSeries List - Grace Baptist Ministries{% endblock %}
{% block content_header %}DataSeries List{% endblock %}
{% block header_includes %}
    <link rel="stylesheet" href="{% static 'newswire/cp/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}
{% block content_sub_header %}
    <a style="margin-top: -0.8em;" href="{% url 'dataseries_new' %}" type="button" class="btn btn-xs btn-primary">
        <i class="fa fa-plus"></i>
        Create New</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Member List</h3>
                </div>
                <div class="box-body">
                    <table id="memberlist" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Owner Group</th>
                                <th>Viewer Group</th>
                                <th>Owners</th>
                                <th>Viewers</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dataseries in object_list %}
                                <tr>
                                    <td class="text-center">
                                      {{ dataseries.id }}
                                        <a href="{%  url 'dataseries_edit' dataseries.id  %}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="{%  url 'dataseries_delete' dataseries.id  %}">
                                            <i class="text-danger fa fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>{{ dataseries.name }}</td>
                                    <td>{{ dataseries.type }}</td>
                                    <td>{{ dataseries.owner_group }}</td>
                                    <td>{{ dataseries.viewer_group }}</td>
                                    <td>{{ dataseries.owner }}</td>
                                    <td>{{ dataseries.viewer }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Owner Group</th>
                                <th>Viewer Group</th>
                                <th>Owners</th>
                                <th>Viewers</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_includes %}
    <script>
        $(document).ready(function() {
            $('#memberlist').DataTable({"paging": false, "scrollX": true});
        });
    </script>
    <script src="{% static 'newswire/cp/plugins/datatables/jquery.dataTables.min.js' %}"></script>
{% endblock %}
