{% extends "newswire/cp/__base.html" %}
{% block header_title %}Dashboard - Grace Baptist Ministries{% endblock %}
{% block content_header %}Dashboard{% endblock %}
{% block content_sub_header %}Control Panel{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Bulletin Preview</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if orderofservice %}
                        {% include "newswire/cp/includes/bulletin_oos.html" %}
                        <hr class="section-end"/>
                        <br/>
                        <br/>
                    {% endif %}
                    {% if announcements %}
                        {% include "newswire/cp/includes/bulletin_announcements.html" %}
                        <br/>
                        <br/>
                        <br/>
                    {% endif %}
                    {% if events %}
                        {% include "newswire/cp/includes/bulletin_events.html" %}
                        <br/>
                        <br/>
                        <br/>
                        <hr class="section-end"/>
                    {% endif %}
                    {% if birthdays %}
                        {% include "newswire/cp/includes/bulletin_birthdays.html" %}
                        <br/>
                        <br/>
                        <br/>
                        <hr class="section-end"/>
                    {% endif %}
                    {% if weeklysummary %}
                        {% include "newswire/cp/includes/bulletin_weeklysummary.html" %}
                        <br/>
                        <hr class="section-end"/>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-6">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">How this works</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: none;"></div>
                <!-- /.box-body -->
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">How this works</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: none;"></div>
                <!-- /.box-body -->
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">How this works</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: none;"></div>
                <!-- /.box-body -->
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">How this works</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: none;"></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
