{% extends "newswire/cp/__base.html" %}
{% block header_title %}Weekly Summaries - Grace Baptist Ministries{% endblock %}
{% block content_header %}Weekly Summaries{% endblock %}
{% block content_sub_header %}
  <a style="margin-top: -0.8em;" href="{% url 'weeklysummary_new' %}" type="button" class="btn btn-xs btn-primary">
    <i class="fa fa-plus"></i>
    Create New</a>
{% endblock %}

{% block header_includes %}{% endblock %}

{% block content %}
  <div class="box box-default collapsed-box">
    <div class="box-header with-border">
      <h3 class="box-title">How this works</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: none;">
      The weekly summary displays values of interest in the bulletin. 3 Additional custom values can be added.
    </div>
    <!-- /.box-body -->
  </div>

  {% for weeklysummary in object_list %}
    <div class="box collapsed-box">
      <div class="box-header with-border">
        <div style="margin: -0.1em 0.2em 0 -0.2em;" class="btn-toolbar pull-left">
          {% if weeklysummary.is_upcoming %}
            <button type="button" class="btn btn-xs btn-primary pull-left">
              Upcoming</button>
          {% endif %}
        </div>
        <h3 class="box-title">
          <strong>{{ weeklysummary.date }}</strong>
        </h3>
        <!-- Buttons, labels, and many other things can be placed here! -->
        <!-- Here is a label for example -->
        <div class="box-tools pull-right">
          <a href="{% url 'weeklysummary_edit' weeklysummary.id %}">
            <i class="fa fa-pencil"></i>
            Edit
          </a>
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Description</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>Attendance</td>
              <td>{{ weeklysummary.attendance }}</td>
            </tr>
            <tr>
              <td>Titles</td>
              <td>{{ weeklysummary.tithe_amt}}</td>
            </tr>
            <tr>
              <td>Building Fund</td>
              <td>${{ weeklysummary.building_amt }}</td>
            </tr>
            <tr>
              <td>Building Pledge Form</td>
              <td>${{ weeklysummary.building_pledge_form_amt }}</td>
            </tr>
            <tr>
              <td>Building Loan Servicing Amount</td>
              <td>${{ weeklysummary.monthly_loan_servicing_amt }}</td>
            </tr>
            {% if weeklysummary.c1_title and weeklysummary.c1_amount %}
              <tr>
                <td>{{ weeklysummary.c1_title }}</td>
                <td>{{ weeklysummary.c1_amt }}</td>
              </tr>
            {% endif %}
            {% if weeklysummary.c2_title and weeklysummary.c2_amount %}
              <tr>
                <td>{{ weeklysummary.c2_title }}</td>
                <td>{{ weeklysummary.c2_amt }}</td>
              </tr>
            {% endif %}
            {% if weeklysummary.c3_title and weeklysummary.c3_amount %}
              <tr>
                <td>{{ weeklysummary.c3_title }}</td>
                <td>{{ weeklysummary.c3_amt }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-right">
        <a class="btn text-danger" href="{% url 'weeklysummary_delete' weeklysummary.id %}">
          <i class="fa fa-trash"></i>
          Delete
        </a>
      </div>
      <!-- box-footer -->
    </div>
  {% endfor %}
{% endblock %}

{% block footer_includes %}{% endblock %}
