{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}Your Profile - {% endblock %}

{% block hero %}
    <header>
      <div class="inner text-center">
        <h2>Your Profile</h2>
        <p>Verify your details</p>
      </div>
    </header>
{% endblock %}

{% block content %}
  <div id="profile-details" class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
      <table class="table">
        <colgroup>
          <col class="col-xs-1">
          <col class="col-xs-7">
        </colgroup>
        <tbody>
          <tr>
            <th class="text-right" scope="row">Last Name:</th>
            <td>{{ object.last_name }}</td>
          </tr>
          <tr>
            <th class="text-right" scope="row">First Name:</th>
            <td>{{ object.first_name }}</td>
          </tr>
        </tbody>
      </table>
      <a href="{% url 'home' %}" class="button special" role="button">Looks Good</a>
      <a href="{% url 'profile_front_end_update' %}" class="btn btn-secondary" role="button">Edit</a>
      <br />
      <br />
      <p>
        <small>*We use this information to send you important updates, keep up with changes in our membership as well as provide basic functionality on this website.</small>
      </p>
    </div>
  </div>
{% endblock %}
