<!DOCTYPE HTML>

<html>
  <head>
    <title>
      {% block title %}{% endblock %}Grace Baptist Ministries</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% block header_includes %}{% endblock %}
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/gbm.css"/>
  </head>
  <body>

    <div id="page-wrapper">

      <header id="header">
        <h1>
          <a href="/index.html"><img src="/images/gbm_logo_2016_w.png" alt=""/>
            Grace Baptist Ministries</a>
        </h1>
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <nav id="menu">
        <div class="inner">
          <h2>Menu</h2>
          <ul class="links">
            <li>
              <a href="/index.html">Home</a>
            </li>
            <li>
              <a href="/bulletin/">Bulletin</a>
            </li>
            <li>
              <a class="sidebar-nav-item" href="/about-us/">About Us</a>
            </li>
            <li>
              <a class="sidebar-nav-item" href="/visit-us/">Visit Us</a>
            </li>
            {% if user.is_authenticated %}
              <li>
                <a href="{% url 'profile-detail' %}">My Profile</a>
              </li>
              <li>
                <a href="{% url 'account_logout' %}">Sign Out</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'account_login' %}">Log In</a>
              </li>
            {% endif %}
          </ul>
          <a href="#" class="close">Close</a>
        </div>
      </nav>

      <section id="wrapper">
        {% block hero %}
          <header>
            <div class="inner text-center">
              <h2>The Bulletin</h2>
              <p>
                {% now "l" %},
                {% now "g:i A, j F o" %}</p>
            </div>
          </header>
        {% endblock %}
        <div class="wrapper">
          <div class="inner">
            {% block content %}{% endblock %}
          </div>
        </div>

      </section>

      <section id="footer">
        <div class="inner">
          <h2 class="major">Get in touch</h2>
          <p>If you’re having trouble finding us or need some suggestions on what to attend, do contact us in or call our office at
            <a href=tel:+6567452887>+65 6745 2887</a>.</p>
          <ul class="contact">
            <li class="fa-phone">
              <a href=tel:+6567452887>+65 6745 2887</a>
            </li>
            <li class="fa-envelope">
              <a href="mailto:office@gbm.sg?Subject=gbm.sg%20Contact%20Form">office@gbm.sg</a>
            </li>
            <li class="fa-home">
              <a href="https://goo.gl/maps/55FGkrEbUf72">
                146B Paya Lebar Road,
                <br/>
                ACE Building, #05-01<br/>
                Singapore 409017</a>
            </li>
          </ul>
          <ul class="contact">
            <li class="fa-twitter">
              <a href="https://twitter.com/gracebaptistmin">twitter.com/gracebaptistmin</a>
            </li>
            <li class="fa-facebook">
              <a href="https://www.facebook.com/gbmsg">facebook.com/gbmsg</a>
            </li>
            <li class="fa-instagram">
              <a href="https://www.instagram.com/gbmyouth/">instagram.com/gbmyouth/</a>
            </li>
          </ul>
          <ul class="copyright">
            <li>&copy; Grace Baptist Ministries.</li>
            <li>Design:
              <a href="http://html5up.net">HTML5 UP</a>
            </li>
          </ul>
        </div>
      </section>

    </div>

    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="{% static 'newswire/js/gbm.js' %}" type="text/javascript"></script>

    {% block footer_includes %}{% endblock %}

  </body>
</html>
