{% extends 'newswire/__base.html' %}

{% block title %}Your Profile -
{% endblock %}

{% block hero %}
  <header>
    <div class="inner text-center">
      <h2>Event Signups - Raw Data</h2>
      <p>Raw RSVP data</p>
    </div>
  </header>
{% endblock %}

{% block header_includes %}
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
  <table id="rawrsvp" class="table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Full Name</th>
        <th>RSVP</th>
      </tr>
    </thead>
    {% for rsvp in signups %}
      <tr>
        <td>{{ rsvp.event.title }}
          {{ rsvp.event.date_display }}</td>
        <td>
          <strong>{{ rsvp.user.last_name }}</strong>
          {{ rsvp.user.first_name }}</td>
        <td>{{ rsvp.get_rsvp_display }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block footer_includes %}
  <script>
    $(document).ready(function() {
      $('#rawrsvp').DataTable({"paging": false});
      $(".dataTables_filter input").addClass("textinput textInput form-control").attr('type', 'text');
    });
  </script>
{% endblock %}
