{% extends 'newswire/__base.html' %}
{% block title %}Newswire{% endblock %}
{% block content %}

  {% if signups %}
    <div id="posts" class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1 class="text-center">Signups</h1>
        <ul>
          {% for signup in signups %}
            <li>{{ signup.event.title }} - {{ signup.user.first_name }} - {{ signup.rsvp}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
  {% endif %}

{% endblock %}
