{% extends 'newswire/__base.html' %}

{% block title %}Your Profile -
{% endblock %}

{% block hero %}
  <header>
    <div class="inner text-center">
      <h2>Event Signups</h2>
      <p>RSVPs by Event</p>
    </div>
  </header>
{% endblock %}

{% block header_includes %}
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
  {% regroup signups by event as signup_list_by_event %}
  {% for event in signup_list_by_event %}
    <h3 class="text-center">{{ event.grouper.title }}</h3>
    {% regroup event.list by get_rsvp_display as event_list_by_rsvp %}
    <p class="text-center">{{ event.grouper.date_display }}
      &bull;
      {{ event.list|length }}
      Responses</p>
    <table>
      <tr>
        {% for rsvp in event_list_by_rsvp %}
          <td>
            <h3 class="text-center">{{ rsvp.grouper }}
              - {{ rsvp.list|length }}
            </h3>
            <ul class="text-center list-unstyled">
              {% for item in rsvp.list %}
                <li>
                  <strong>{{ item.user.last_name }}</strong>
                  {{ item.user.first_name }}
                </li>
              {% endfor %}
            </ul>
          </td>
        {% endfor %}
      </tr>
    </table>
    <br/>
    <br/>
  {% endfor %}
{% endblock %}

{% block footer_includes %}{% endblock %}
