{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{{page.title}}{% endblock %}

{% block hero %}
  <header>
    <div class="inner text-center">
      <h2>{{page.header}}</h2>
      <p>{{page.description}}</p>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div id="update-form" class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
      {% crispy form %}
    </div>
  </div>
{% endblock %}
