diff-match-patch==20121119
Django==1.8.*
django-allauth==0.24.*
django-bootstrap3==6.2.*
django-crispy-forms==1.6.*
django-import-export==0.4.*
django-paintstore==0.2
django-suit==0.2.*
django-widget-tweaks==1.4.*
djrill==2.0
factory-boy==2.6.*
fake-factory==0.5.*
gunicorn==19.4.*
importlib~=1.0
oauthlib==1.0.*
psycopg2==2.6.*
python-openid==2.2.*
redis==2.10.*
requests==2.9.*
requests-oauthlib==0.6.*
tablib==0.11.*
virtualenv==14.0.*
wheel==0.29.*
