cairocffi
CairoSVG
cffi
cssselect
diff-match-patch
Django
django-allauth
django-bootstrap3
django-crispy-forms
django-import-export
django-paintstore
django-suit
django-widget-tweaks
factory-boy
fake-factory
gunicorn
html5lib
ipaddress
lxml
oauthlib
psycopg2
pycparser
Pyphen
python-dateutil
python-openid
redis
requests
requests-oauthlib
six
tablib
tinycss
virtualenv
WeasyPrint
webencodings
